body {
    background-color: aliceblue;
}

#container {
    width: 800px;
    margin: auto;
    background-color: aliceblue;
}

header {
    padding: 40px;
    height: 80px;
    color: lightslategray;
}

nav {
    padding: 8px 40px;
    background-color: lightblue;
    color: white;
}

article {
    padding: 40px;
    min-height : 400px;
}

footer {
    padding: 40px;
    height: 40px;
    background-color : lightblue;
    color: white;
}
